.breadcrumbs {
  color: #888583;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: 0 0 25px 0;
  word-break: break-all;

  a {
    color: $content-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
