---
layout: default
permalink: /home
class: home
---

<div class="home-content">
    <h1 class="home-content__title">UN/CEFACT Web Vocabularies</h1>
    <p class="home-content__description">The UN/CEFACT Web Vocabularies are linked data representations of the UN/CEFACT
        Buy-Ship-Pay Reference Data Model, UN/LOCODE and Taxonomies.</p>
    <div class="home-content__inner">
        <ul class="browse-types">
            <li class="browse-type browse-types__item">
                <a href="{{ 'about' | absolute_url }}" class="browse-type__title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="20">
                        <g fill="none" fill-rule="evenodd" stroke="#888583" stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="1.2">
                            <path d="m8.816 18.867 6.71-4.88c.143-.116.268-.229.347-.389.08-.16.127-.33.127-.49v-8.48a.44.44 0 0 0-.237-.4.497.497 0 0 0-.474 0L8.5 9.188c-.133.092-.274.22-.353.38-.08.16-.12.34-.12.5v8.48c0 .16.078.32.236.4.237.08.395.08.553-.08ZM8.184 1l-6.79 5.12c-.078.08-.236.24-.315.4C1 6.68 1 7.08 1 7.08v8.56"/>
                            <path d="m11.737 2.454-6.79 5.2c-.079.08-.236.24-.315.4-.08.16-.08.48-.08.48v8.64"/>
                        </g>
                    </svg>
                    BSP
                </a>
                <div class="browse-type__info">
                    <p class="browse-type__description">The Buy-Ship-Pay international trade & transport vocabulary</p>
                    <a class="browse-type__action" href="{{ 'about' | absolute_url }}">Browse</a>
                </div>
                {% if site.versions.bsp %}
                    <span class="browse-type__version">
                        {{ site.versions.bsp }}
                    </span>
                {% endif %}
            </li>
            <li class="browse-type browse-types__item">
                <a href="{{ 'unlocode-about' | absolute_url }}" class="browse-type__title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                        <g fill="none" fill-rule="evenodd" stroke="#888583" stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="1.2">
                            <path d="M18.413 3.934a.782.782 0 0 1 .587.782V15.28a.782.782 0 0 1-.533.743l-8.209 2.934a.783.783 0 0 1-.516 0L1.517 16.03A.782.782 0 0 1 1 15.295V4.693a.782.782 0 0 1 .587-.783l8.217-2.887a.83.83 0 0 1 .392 0l8.217 2.911ZM10 7.236v11.759"/>
                            <path d="M18.788 4.161 10 7.236 1.212 4.161"/>
                        </g>
                    </svg>
                    UN/LOCODEs
                </a>
                <div class="browse-type__info">
                    <p class="browse-type__description">The UN authoritative list of location codes in all countries</p>
                    <a class="browse-type__action" href="{{ 'unlocode-about' | absolute_url }}">Browse</a>
                </div>
                {% if site.versions.un-locodes %}
                    <span class="browse-type__version">
                        {{ site.versions.un-locodes }}
                    </span>
                {% endif %}
            </li>
            <li class="browse-type browse-types__item">
                <a href="{{ '/sustainability/about' }}" class="browse-type__title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                        <g fill="none" fill-rule="evenodd" stroke="#888583" stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="1.2">
                            <path d="M1.383 19V1M1.384 15.096l2.469-.777a7.387 7.387 0 0 1 6.158.8 7.387 7.387 0 0 0 6.011.846l2.339-.683a.897.897 0 0 0 .639-.866V4.118a.908.908 0 0 0-.35-.718.867.867 0 0 0-.773-.148l-1.855.542a7.384 7.384 0 0 1-6.01-.845 7.39 7.39 0 0 0-6.16-.8l-2.468.775v12.172Z"/>
                        </g>
                    </svg>
                    Sustainability
                </a>
                <div class="browse-type__info">
                    <p class="browse-type__description">The harmonised language of sustainability criteria</p>
                    <a class="browse-type__action" href="{{ '/sustainability/about' }}">Browse</a>
                </div>
                {% if site.versions.taxonomies %}
                    <span class="browse-type__version">
                        {{ site.versions.taxonomies }}
                    </span>
                {% endif %}
            </li>
        </ul>

        <h2 class="home-content__subtitle">Links</h2>
        <p>
            <a class="link-box" target="_blank" href="https://unece.org/trade/uncefact/mainstandards">https://unece.org/trade/uncefact/mainstandards</a>
        </p>
        <p>
            <a class="link-box" target="_blank" href="https://github.com/uncefact">https://github.com/uncefact</a>
        </p>
    </div>
</div>
