{% assign pageType = page.collection %}
<div class="breadcrumbs">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="/">Home</a>
    {% if pageType == 'unlocode-lists' %}
      /  <a href="{{ 'unlocode-about' | absolute_url }}">UN/LOCODEs</a>
    {% else %}
        / <a href="{{ 'about' | absolute_url }}">Conformity Credential</a>
    {% endif %}
    {% if pageType == 'classes' %}
       / <a href="{{ 'classes' | absolute_url }}">Classes</a>
    {% endif %}
    {% if pageType == 'properties' %}
       / <a href="{{ 'properties' | absolute_url }}">Properties</a>
    {% endif %}
    {% if pageType == 'code-lists' %}
      /  <a href="{{ 'code-lists' | absolute_url }}">Code Lists</a>
    {% endif %}
    / {{ page.title }}
</div>
