{% assign pageType = page.type %}
<header class="header">
    <div class="header__content">
        <a href="{{site.baseurl}}/" class="header__logo">
            <img src="{{site.baseurl}}/images/logo.svg" class="header__logo-img" alt="">
        </a>
        <nav class="main-nav">
            <a class="main-nav__link{% if pageType == 'class' %} main-nav__link--active{% endif %}" href="{{ 'classes' | absolute_url }}">Classes</a>
            <a class="main-nav__link{% if pageType == 'property' %} main-nav__link--active{% endif %}" href="{{ 'properties' | absolute_url }}">Properties</a>
            <a class="main-nav__link{% if pageType == 'code-list' %} main-nav__link--active{% endif %}" href="{{ 'code-lists' | absolute_url }}">Code Lists</a>
        </nav>
    </div>
</header>
