.search-form {
  display: flex;

  &__toggle-btn {
    border: 0;
    background: none;

    @media screen and (min-width: $tablet-md) {
      padding-top: 5px;
    }
  }

  &__container {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
  }

  &--active &__container {
    display: block;
  }

  &__field {
    border: 1px solid #4C4845;
    border-radius: 10px;
    background: #fff;
    padding: 0 50px 0 50px;
    height: 43px;

    @media screen and (min-width: $tablet-md) {
      min-width: 500px;
    }
  }

  &__submit {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 43px;
    align-items: center;
    padding: 2px 5px 0 5px;
    background: none;
    border: 0;
  }

  &__close {
    position: absolute;
    display: flex;
    height: 43px;
    align-items: center;
    border: 0;
    background: none;
    right: 0;
    padding: 0 14px;
    top: 0;
  }

  &__mobile-btn {
    border: 0;
    background: none;
    display: none;

    @media screen and (max-width: $tablet-md) {
      display: block;
    }
  }
}

.search-autocomplete {
  display: none;
  position: absolute;
  left: 0;
  max-height: 300px;
  overflow: auto;
  background: #fff;
  padding: 5px;
  border: 1px solid #006AB1;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    white-space: nowrap;
  }

  a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    font-size: 11px;

    &:hover {
      background: #d3d3d3;
    }
  }
}

.search-results {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 0 20px 0;

    @media screen and (max-width: $tablet-md - 1) {
      flex-direction: column;
    }
  }

  & &__title {
    margin: 0;
    padding: 0;

    &-value {
      color: #006AB1;
    }
  }

  & &__list {
    display: table;
    width: 100%;
    list-style: none;
    margin: 0;
  }

  & &__label {

    a {
      font-size: 16px;

      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
  }

  li {
    white-space: nowrap;
  }

  a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    font-size: 11px;

    &:hover {
      background: #d3d3d3;
    }
  }

  & &__pagination {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 3px;
      padding: 0;

      &.active {
        background: $app-light-blue;
        color: $app-text;
      }
    }

    a {
      display: block;
      font-size: 16px;
      padding: 7px 12px;
      border: 1px solid $app-blue;

      &:hover {
        background: $app-blue;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &__empty {
    display: none;
    text-align: center;
    font-size: 16px;
  }

  &__loading {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .svg-loader {
    max-width: 128px;
    max-height: 128px;
    fill: $app-blue;
  }

  .magnify {
    fill: #f8f8f8;
    animation: search 1s infinite ease;
  }

  .doc {
    fill: #d8d8d2;
    animation: flyby 1s infinite ease;
  }

  @keyframes search {
    0% {
      transform: translate(40px, 40px) scale(.6);
    }
    50% {
      transform: translate(20px, 20px) scale(.6);
    }
    100% {
      transform: translate(40px, 40px) scale(.6);
    }
  }

  @keyframes flyby {
    0% {
      transform: translate(-20px, 20px) scale(.2);
      opacity: 0
    }
    50% {
      transform: translate(30px, 20px) scale(.5);
      opacity: 1
    }
    100% {
      transform: translate(100px, 20px) scale(.2);
      opacity: 0
    }
  }
}

.search-block {
  display: flex;
  justify-content: center;
  width: 100%;

  &__container {
    position: relative;
    width: 100%;
    max-width: 645px;
    margin: 0 0 17px 0;

    @media screen and (min-width: $tablet-md) {
      margin-bottom: 46px;
    }
  }

  &__field {
    height: 48px;
    border: 1px solid #4C4845;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 0 75px 0 40px;
    width: 100%;

    @media screen and (min-width: $tablet-md) {
      height: 60px;
      padding: 0 75px 0 50px;
    }
  }

  &__icon {
    pointer-events: none;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__submit {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 70px;
    color: #fff;
    background: #006AB1;
    border: 1px solid #006AB1;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;

    @media screen and (min-width: $tablet-md) {
      height: 60px;
      width: 90px;
    }
  }
}

.search-filter {
  @media screen and (min-width: $tablet-md) {
    display: flex;
  }

  &__label {
    font-size: 16px;
    color: $app-text;
    padding-right: 10px;
  }

  &__control {
    height: 40px;
    border: 1px solid $border-color;
    color: $app-text;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;

    @media screen and (min-width: $tablet-md) {
      margin: 0 0 0 15px;
    }
  }
}
