$app-light-blue: #006AB1;
$app-blue: #005493;
$app-text: #4C4845;
$app-light-grey: #ececec;
$font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;

$scroll-to-top-bg: #009edb;
$content-link: #009edb;

$table-ntn-row-bg: #E0EAF8;

$container__max-width: 1200px;
$container__padding: 15px;
