$app-light-blue: #DFF5FD;
$app-blue: #005493;
$app-text: #232221;
$app-light-grey: #ececec;
$font-family: "Readex Pro", Helvetica, Arial, Verdana, sans-serif;
$monospace-font-family: Consolas, monospace;

$text-color: #888583;
$border-color: #ededed;
$scroll-to-top-bg: #009edb;
$content-link: #009edb;

$table-ntn-row-bg: #E0EAF8;

$container__max-width: 1200px;
$container__padding: 28px;

$mobile-xs: 480px;
$mobile-md: 560px;
$tablet-md: 768px;
$tablet-md--up: 769px;
$desktop-sm: 1024px;
$desktop-lg: 1366px;
$desktop-xl: 1440px;
