---
title: About
permalink: about
type: default
class: white
---
<div class="home-content">
    <h1 class="home-content__title">UN/CEFACT Sustainability</h1>
    <p class="home-content__description">The UN/CEFACT Sustainability Web Vocabulary is a linked data representation
    of the International Trade Centre (ITC) harmonised sustainability criteria.
    It has been developed from an analysis of over 300 sustainability standards
    in use around the world and represents a harmonised language
    for Environmental and Social Governance (ESDG) sustainability criteria.</p>
    <!--<div class="search-block">
        <form action="{{ '/search' | prepend: site.baseurl }}" method="get" class="search-block">
            <div class="search-block__container">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" class="search-block__icon">
                    <g fill="none" fill-rule="evenodd" stroke="#4C4845" stroke-width="1.5"
                       transform="rotate(-45 18.328 7.257)">
                        <ellipse cx="10.5" cy="10.471" rx="9.75" ry="9.721"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.481 20.942V25"/>
                    </g>
                </svg>
                <input type="text" name="q" class="search-block__field" value="" placeholder="Enter Classes and more…">
                <button class="search-block__submit" type="submit">Search</button>
            </div>
        </form>
    </div>-->
    <div class="home-content__inner">
        <ul class="browse-types">
            <li class="browse-type browse-types__item">
                <a href="{{ 'classes' | absolute_url }}" class="browse-type__title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="20">
                        <g fill="none" fill-rule="evenodd" stroke="#888583" stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="1.2">
                            <path d="m8.816 18.867 6.71-4.88c.143-.116.268-.229.347-.389.08-.16.127-.33.127-.49v-8.48a.44.44 0 0 0-.237-.4.497.497 0 0 0-.474 0L8.5 9.188c-.133.092-.274.22-.353.38-.08.16-.12.34-.12.5v8.48c0 .16.078.32.236.4.237.08.395.08.553-.08ZM8.184 1l-6.79 5.12c-.078.08-.236.24-.315.4C1 6.68 1 7.08 1 7.08v8.56"/>
                            <path d="m11.737 2.454-6.79 5.2c-.079.08-.236.24-.315.4-.08.16-.08.48-.08.48v8.64"/>
                        </g>
                    </svg>
                    Classes
                </a>
                <div class="browse-type__info">
                    <p class="browse-type__description">List of Classes</p>
                    <a class="browse-type__action" href="{{ 'classes' | absolute_url }}">Browse Classes</a>
                </div>
                {% if site.versions.bsp %}
                    <span class="browse-type__version">
                        {{ site.versions.bsp }}
                    </span>
                {% endif %}
            </li>
            <li class="browse-type browse-types__item">
                <a href="{{ 'properties' | absolute_url }}" class="browse-type__title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                        <g fill="none" fill-rule="evenodd" stroke="#888583" stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="1.2">
                            <path d="M18.413 3.934a.782.782 0 0 1 .587.782V15.28a.782.782 0 0 1-.533.743l-8.209 2.934a.783.783 0 0 1-.516 0L1.517 16.03A.782.782 0 0 1 1 15.295V4.693a.782.782 0 0 1 .587-.783l8.217-2.887a.83.83 0 0 1 .392 0l8.217 2.911ZM10 7.236v11.759"/>
                            <path d="M18.788 4.161 10 7.236 1.212 4.161"/>
                        </g>
                    </svg>
                    Properties
                </a>
                <div class="browse-type__info">
                    <p class="browse-type__description">List of Properties</p>
                    <a class="browse-type__action" href="{{ 'properties' | absolute_url }}">Browse Properties</a>
                </div>
                {% if site.versions.bsp %}
                    <span class="browse-type__version">
                        {{ site.versions.bsp }}
                    </span>
                {% endif %}
            </li>
            <li class="browse-type browse-types__item">
                <a href="{{ 'code-lists' | absolute_url }}" class="browse-type__title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20">
                        <g fill="none" fill-rule="evenodd" stroke="#888583" stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="1.2">
                            <path d="M11.259 3.7a.914.914 0 0 1-.816-.498l-.866-1.704A.914.914 0 0 0 8.761 1H1.913A.907.907 0 0 0 1 1.9v16.2c0 .497.409.9.913.9h19.174a.907.907 0 0 0 .913-.9V4.6c0-.497-.409-.9-.913-.9h-9.828Z"/>
                            <path d="m13.149 7.107 4.109 4.05-4.109 4.05M9.851 7.107l-4.109 4.05 4.109 4.05"/>
                        </g>
                    </svg>
                    Code Lists
                </a>
                <div class="browse-type__info">
                    <p class="browse-type__description">List of Codes</p>
                    <a class="browse-type__action" href="{{ 'code-lists' | absolute_url }}">Browse Code Lists</a>
                </div>
                {% if site.versions.bsp %}
                    <span class="browse-type__version">
                        {{ site.versions.bsp }}
                    </span>
                {% endif %}
            </li>
        </ul>

        <h2 class="home-content__subtitle">Contexts</h2>
        <p>JSON-LD Context files are available here:</p>
        <p>
            <a class="link-box" href="/sustainability/context.jsonld">https://vocabulary.uncefact.org/sustainability/context.jsonld</a>
        </p>

        <h2 class="home-content__subtitle">Content Negotiation</h2>
        <div class="copy-box">
            <div class="copy-box__text" id="content-negotiation-1">
                curl https://vocabulary.uncefact.org/sustainability/ -H 'Accept: application/ld+json'
            </div>
            <button type="button" class="js-copy-btn copy-box__btn" data-clipboard-target="#content-negotiation-1">
                <svg class="copy-box__btn-icon">
                    <use xlink:href="#duplicate"></use>
                </svg>
            </button>
        </div>

        <h2 class="home-content__subtitle">Links</h2>
        <p>
            <a class="link-box" target="_blank" href="https://unece.org/trade/uncefact/mainstandards">https://unece.org/trade/uncefact/mainstandards</a>
        </p>
        <p>
            <a class="link-box" target="_blank" href="https://github.com/uncefact">https://github.com/uncefact</a>
        </p>
    </div>
</div>
