---
title: Changelog
permalink: changelog
type: default
layout: table
---

{% for version in site.data.changelog.versions %}
<h2>Version: {{ version.version}}</h2>
<div class="page-description">
    <p>New resources added with {{ version.version}}:</a></p>
</div>
<table class="table-grid">
    <thead>
        <tr>
            <th>Name</th>
            <th>Former name (if applied)</th>
        </tr>
    </thead>
    <tbody>
        {% for added in version.added %}
                <tr>
                    <td>
                        {%- assign resourceUrl = added.new | split: ":" -%}
                        {%- assign mappingKey = resourceUrl[0] -%}
                        <a href="{{ site.data.mapping[mappingKey] }}{{ resourceUrl[1] }}">{{ added.new }}</a>
                    </td>
                    <td>
                        {%- assign resourceUrl = added.old | split: ":" -%}
                        {%- assign mappingKey = resourceUrl[0] -%}
                        <a href="{{ site.data.mapping[mappingKey] }}{{ resourceUrl[1] }}">{{ added.old }}</a>
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>
<div class="page-description">
    <p>Deprecated resources since {{ version.version}}:</a></p>
</div>
<table class="table-grid">
    <thead>
        <tr>
            <th>Name</th>
            <th>Use insted (if applied)</th>
        </tr>
    </thead>
    <tbody>
        {% for deprecated in version.deprecated %}
                <tr>
                    <td>
                        {%- assign resourceUrl = deprecated.old | split: ":" -%}
                        {%- assign mappingKey = resourceUrl[0] -%}
                        <a href="{{ site.data.mapping[mappingKey] }}{{ resourceUrl[1] }}">{{ deprecated.old }}</a>
                    </td>
                    <td>
                        {%- assign resourceUrl = deprecated.new | split: ":" -%}
                        {%- assign mappingKey = resourceUrl[0] -%}
                        <a href="{{ site.data.mapping[mappingKey] }}{{ resourceUrl[1] }}">{{ deprecated.new }}</a>
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
