---
title: Properties
permalink: properties
type: property
---

<h1>Properties</h1>
<p class="page-description">A list of all properties</p>

<table>
    <thead>
        <tr>
            <th>URI</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    {% for property in site.properties %}
        {% unless property.vocab == "sustainability" %}
        {%- assign propertyJson = site.data[property.jsonid] -%}
        {%- assign propertyUrl = propertyJson.uri | split: ":" -%}
        {%- assign propertyMappingKey = propertyUrl[0] -%}

        <tr>
            <td><a {% if propertyMappingKey != 'unece' %}target="_blank"{% endif %} href="{{ site.data.mapping[propertyMappingKey] }}{{ propertyUrl[1] }}">{{ propertyJson.uri }}</a></td>
            <td>{{ propertyJson.comment }}</td>
        </tr>
        {% endunless %}
    {% endfor %}
    </tbody>
</table>
