---
title: About
permalink: unlocode-about
type: default
class: white unlocode
hideMenu: true
---
<div class="home-content">
    <h1 class="home-content__title">UN/LOCODEs Web Vocabulary</h1>
    <p class="home-content__description">The UN/LOCODE Web Vocabulary is a linked data representation of the UN/CEFACT
        Buy-Ship-Pay Reference Data Model.</p>
    <div class="home-content__inner">
        <ul class="browse-types">
            <li class="browse-type browse-types__item">
                <a href="{{ 'unlocode-countries' | absolute_url }}" class="browse-type__title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                        <g fill="none" fill-rule="evenodd" stroke="#888583" stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="1.2">
                            <path d="M1.383 19V1M1.384 15.096l2.469-.777a7.387 7.387 0 0 1 6.158.8 7.387 7.387 0 0 0 6.011.846l2.339-.683a.897.897 0 0 0 .639-.866V4.118a.908.908 0 0 0-.35-.718.867.867 0 0 0-.773-.148l-1.855.542a7.384 7.384 0 0 1-6.01-.845 7.39 7.39 0 0 0-6.16-.8l-2.468.775v12.172Z"/>
                        </g>
                    </svg>
                    Countries
                </a>
                <div class="browse-type__info">
                    <p class="browse-type__description">List of UN/LOCODE Countries</p>
                    <a class="browse-type__action" href="{{ 'unlocode-countries' | absolute_url }}">Browse Countries</a>
                </div>
                {% if site.versions.un-locodes %}
                    <span class="browse-type__version">
                        {{ site.versions.un-locodes }}
                    </span>
                {% endif %}
            </li>
            <li class="browse-type browse-types__item">
                <a href="{{ 'unlocode-subdivisions' | absolute_url }}" class="browse-type__title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                        <g fill="none" fill-rule="evenodd" stroke="#888583" stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="1.2">
                            <path d="M18.413 3.934a.782.782 0 0 1 .587.782V15.28a.782.782 0 0 1-.533.743l-8.209 2.934a.783.783 0 0 1-.516 0L1.517 16.03A.782.782 0 0 1 1 15.295V4.693a.782.782 0 0 1 .587-.783l8.217-2.887a.83.83 0 0 1 .392 0l8.217 2.911ZM10 7.236v11.759"/>
                            <path d="M18.788 4.161 10 7.236 1.212 4.161"/>
                        </g>
                    </svg>
                    Country Subdivisions
                </a>
                <div class="browse-type__info">
                    <p class="browse-type__description">List of UN/LOCODE Country Subdivisions</p>
                    <a class="browse-type__action" href="{{ 'unlocode-subdivisions' | absolute_url }}">Browse Country Subdivisions</a>
                </div>
                {% if site.versions.un-locodes %}
                    <span class="browse-type__version">
                        {{ site.versions.un-locodes }}
                    </span>
                {% endif %}
            </li>
            <li class="browse-type browse-types__item">
                <a href="{{ 'unlocode-functions' | absolute_url }}" class="browse-type__title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20">
                        <g fill="none" fill-rule="evenodd" stroke="#888583" stroke-linecap="round"
                           stroke-linejoin="round"
                           stroke-width="1.2">
                            <path d="M11.259 3.7a.914.914 0 0 1-.816-.498l-.866-1.704A.914.914 0 0 0 8.761 1H1.913A.907.907 0 0 0 1 1.9v16.2c0 .497.409.9.913.9h19.174a.907.907 0 0 0 .913-.9V4.6c0-.497-.409-.9-.913-.9h-9.828Z"/>
                            <path d="m13.149 7.107 4.109 4.05-4.109 4.05M9.851 7.107l-4.109 4.05 4.109 4.05"/>
                        </g>
                    </svg>
                    Functions
                </a>
                <div class="browse-type__info">
                    <p class="browse-type__description">List of UN/LOCODE Functions</p>
                    <a class="browse-type__action" href="{{ 'unlocode-functions' | absolute_url }}">Browse Functions</a>
                </div>
                {% if site.versions.un-locodes %}
                    <span class="browse-type__version">
                        {{ site.versions.un-locodes }}
                    </span>
                {% endif %}
            </li>
        </ul>

        <h2 class="home-content__subtitle">Contexts</h2>
        <p>JSON-LD Context files are available here:</p>
        <p>
            <a class="link-box" href="https://vocabulary.uncefact.org/unlocode-vocab-context.jsonld">https://vocabulary.uncefact.org/unlocode-vocab-context.jsonld</a>
        </p>

        <h2 class="home-content__subtitle">Content Negotiation</h2>
        <div class="copy-box">
            <div class="copy-box__text" id="content-negotiation-1">
                curl https://vocabulary.uncefact.org/unlocode# -H 'Accept: application/ld+json'
            </div>
            <button type="button" class="js-copy-btn copy-box__btn" data-clipboard-target="#content-negotiation-1">
                <svg class="copy-box__btn-icon">
                    <use xlink:href="#duplicate"></use>
                </svg>
            </button>
        </div>

        <h2 class="home-content__subtitle">Links</h2>
        <p>
            <a class="link-box" target="_blank" href="https://unece.org/trade/uncefact/unlocode">https://unece.org/trade/uncefact/unlocode</a>
        </p>
        <p>
            <a class="link-box" target="_blank" href="https://github.com/uncefact">https://github.com/uncefact</a>
        </p>
    </div>
</div>
