---
title: Versions
permalink: versions
type: default
layout: table
---

{% for major in site.data.versions.majors %}
<h2>Major version: {{ major.major}}</h2>
<div class="page-description">
    <p>Go to the version: <a href="{{ '/' | prepend: major.major | prepend: site.data.versions.prefix | prepend: site.dest  }}">{{ '/' | prepend: major.major | prepend: site.data.versions.prefix | prepend: site.dest }} </a></p>
</div>
<table class="table-grid">
    <thead>
        <tr>
            <th>Version</th>
            <th>Date</th>
            <th>Notes</th>
            <th>JSON-LD Context</th>
            <th>JSON Schema</th>
            <th>JSON Instance</th>
        </tr>
    </thead>
    <tbody>
        {% for version in major.log %}
            {% if ((site.versions.untp-svc != "working") && (version.version != "working")) || (version.version == "working") %}
                <tr>
                    <td>
                        {{ version.version }}
                    </td>
                    <td>
                        {{ version.date }}
                    </td>
                    <td>
                        {{ version.notes }}
                    </td>
                    <td>
                        <p><a href="{{ version.context | prepend: site.data.versions.prefix | prepend: site.dest }}"> View</a></p>
                    </td>
                    <td>
                        {% for schema in version.schemas %}
                        {% if version.version == "working"%}
                        <p><a href="{{ schema | prepend: '/' | prepend: version.version | prepend: site.data.versions.prefix | prepend: site.dest }}"> {{ schema }}</a></p>
                        {% else %}
                        <p><a href="{{ schema | prepend: site.data.versions.prefix | prepend: site.dest }}"> {{ schema }}</a></p>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for instance in version.instances %}
                        {% if version.version == "working"%}
                        <p><a href="{{ instance | prepend: '/' | prepend: version.version | prepend: site.data.versions.prefix | prepend: site.dest }}"> {{ instance }}</a></p>
                        {% else %}
                        <p><a href="{{ instance | prepend: site.data.versions.prefix | prepend: site.dest }}"> {{ instance }}</a></p>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
