---
title: Versions
permalink: versions
type: default
layout: table
---

{% for major in site.data.versions.majors %}
<h2>Major version: {{ major.major}}</h2>
<div class="page-description">
    <p>Go to the version: <a href="{{ major.prefix }}">{{ major.prefix | prepend: site.dest }} </a></p>
</div>
<table class="table-grid">
    <thead>
        <tr>
            <th>Version</th>
            <th>Date</th>
            <th>Notes</th>
            <th>JSON-LD Context</th>
            <th>JSON Schema</th>
        </tr>
    </thead>
    <tbody>
        {% for version in major.log %}
                <tr>
                    <td>
                        {{ version.version}}
                    </td>
                    <td>
                        {{ version.date }}
                    </td>
                    <td>
                        {{ version.notes }}
                    </td>
                    <td>
                        <p><a href="{{ version.context | prepend: major.prefix | prepend: site.dest }}"> View</a></p>
                    </td>
                    <td>
                        <p><a href="{{ version.schema | prepend: major.prefix | prepend: site.dest }}"> View</a></p>
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
